body{
    margin: auto;
    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
    color: #4A4A4A;
}
nav p
{
    padding: 20px;
}

h1{
    margin-top: 15%;
    font-size: 52px;
}
h2{
    margin: 0 0 15%;
    padding: 0 0 10px;
    position: relative;
}
h2::after{
    background-color: #FECA07; 
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    width: 8%;
}
h3{
    border-bottom: 2px solid #FECA07;
    padding-bottom: 10px;
    color: #000000;
}
h4{
    background-color: #404040;
    color: #FECA07;
    text-align: center;
    padding: 3%;
}

i{
    margin-right: 10px;
    color: #FECA07;
}
li {
    list-style-type: none;
}
.fa-ul li{
    padding: 2%;
}
a:link{
    text-decoration: none;
    color: #404040;
}
a:visited{
    text-decoration: none;
    color: #404040;
}

.menu-up{
    background-color: #FECA07;
    padding: 0;
    display: flex;
}
.menu-down{
    background-color: #FECA07;
    padding: 0;
}
.pic{
    text-align: center;
    margin: auto;
    padding: 2%;
}
.pic img{
    width: 336px;
    height: 336px;
}
.name-color{
    color: #FECA07;
}
.img-thumbnail {
    background: #DAAF12;
    border-color: #DAAF12;
}
.table td, table th{
    border: 0;
    width: 1%; 
}
.nav-tab{
    margin: auto;
}
.nav-tab tr td{
    padding: 15px;
}
.low{
    padding: 5%;
    padding-bottom: 50%;
}
.big-strong{
    font-size: x-large;
    color: #4A4A4A;
    font-weight: bold;
}

@media (min-width: 768px)
{
    .offset-md-1 {
        margin-left: 5.333333%;
    }
}
@media (max-width: 992px) {
    .low{
        padding-bottom: 0%;
    }
    .order-0{
        -ms-flex-order: 1;
        order: 1;
    }
    .order-1{
        -ms-flex-order: 0;
        order: 0;
    }
}