body{
    margin: auto;
    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
    color: #4A4A4A;
}
nav p
{
    padding: 20px;
}

h1{
    margin-top: 20%;
    font-size: 52px;
}
h3{
    border-bottom: 1px solid #FECA07;
    padding-bottom: 10px;
    color: #000000;
}
h4{
    background-color: #404040;
    color: #FECA07;
    text-align: center;
    padding: 3%;
}

i{
    margin-right: 10px;
    color: #FECA07;
}
li {
    list-style-type: none;
}

.menu{
    background-color: #FECA07;
    padding: 0;
}
.pic{
    text-align: center;
    padding: 10%;
}
.pic img{
    width: 224px;
    height: 224px;
}
.short-line{
    margin-bottom: 20%;
    border-bottom: 1px solid #FECA07;
    margin-right: 90%;
}
.name-color{
    color: #FECA07;
}
.img-thumbnail {
    background: #DAAF12;
    border-color: #DAAF12;
}
.table td, table th{
    border: 0;
    /*Les tables font du 50/50 grace à ça :*/
    width: 1%; 
    /*Pourquoi : ¯\_(ツ)_/¯*/
}
.nav-tab{
    margin: auto;
}
.nav-tab tr td{
    padding: 15px;
}
.low{
    padding-bottom: 120%;
}

@media (min-width: 768px)
{
    .offset-md-1 {
        margin-left: 5.333333%;
    }
}
@media (max-width: 992px) {
    .low{
        padding-bottom: 0%;
    }
}